<div class="section-banner-container">
    <img class="section-banner-img" src="http://i.imgur.com/ABitI6n.jpg" alt="Welcome to LYT Systems, Inc.">
  </div>


<div class="section-container">
  <div class="col-md-8 offset-md-2 col-sm-12">
  <div class="section-title">
    About LYT
  </div>
  <div class="section-content">
   LYT Systems provides high quality custom tailored IT solutions and IT consulting services to our customers to achieve their IT objectives, by using advanced, state of the art IT strategies and tools.
  </div>
  <div class="section-content">
Our design practices involves more than just working with the latest technologies.  We work side by side with our clients from the planning/implementing to successful installation and support.

  </div>

</div>
</div>
