<div class="section-banner-container">
    <img class="section-banner-img" src="../../assets/stock-hero-img-4.jpg" alt="Welcome to LYT Systems, Inc.">
</div>

<div class="section-container">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
            Services
        </div>
        <div class="section-content">
           LYT Systems provides high quality IT consulting, IT engineering and testing services to our customers.
        </div>
        <div class="section-subtitle">
            Software Engineering
        </div>
        <div class="section-content">
          We can help manage or lead your organization’s IT initiatives by leveraging advance, cutting edge software engineering strategies and methods.
        </div>
        <div class="section-subtitle">
            Project Management
        </div>
        <div class="section-content">
   We can help you succeed where companies often fail - in implementation and execution.  We advice on and execute your most complex IT objectives so that you realized your most desired results.
        </div>
        <div class="section-subtitle">
            Automated Testing
        </div>
        <div class="section-content">
          By applying modern agile test practices such as test driven development at the beginning of the development life cycle, we are able to discover potential short coming and defects at the start of the development process.
        </div>
    </div>
</div>